<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.teach.dao.auth.RolePermissionMapper">
    <select id="getUserRoleByUserId" resultType="string">
        select user_role from teach_user_role tur
            left join teach_role tr
                on tur.user_role = tr.id
            where 1=1
            <if test="userId != ''">
                and tur.user_id = #{userId}
            </if>
    </select>

    <select id="getPermissionByRoleId" resultType="java.lang.String" parameterType="int">
        select permission_code from role_permission rp
            left join permission pm
                on rp.permission_id = pm.id
            where 1=1
            <if test="roleId != null">
                and rp.role_id = #{roleId}
            </if>
    </select>
    <select id="getPermissionByUserId" resultType="java.lang.String">
        select permission_code from teach_user_role tur
            left join teach_role tr on tur.user_role = tr.id
            left join role_permission rp on tur.user_role = rp.role_id
            left join permission p on rp.permission_id = p.id
            where 1=1
            <if test="userId != null">
                and tur.user_id = #{userId}
            </if>
    </select>
</mapper>
