<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.teach.dao.auth.RoleMapper">
    <select id="selectRoleByUserId" resultType="string">
        select role_code from teach_role tr
            left join teach_user_role tur
                on tr.id = tur.user_role
                where 1=1
                <if test="userId != null">
                    and tur.user_id = #{userId}
                </if>
    </select>
</mapper>
